
/* 
    Created on : May 25, 2022, 2:46:41 PM
    Author     : kotmin
*/

:root {
    --background-color: #fff;
    --text-color: #000;
}

[data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: motserrat;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
nav{
    
    height: 80px;
    width: 100%;
    background: #080C12;
    color: #eae0c8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    padding: 0 100px;
    line-height: 80px;
}

.nav-links{
    float: right;
    display: flex;
/*    margin-right: 40px;*/

}

.nav-links li{
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}

.nav-links a{
    color:white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid whitesmoke;
    transition: .5s;
}

/*https://www.w3schools.com/icons/fontawesome5_intro.asp*/

.burger{
    display: none;
    cursor: pointer;
/*    right:5%;*/
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:azure;
    margin: 5px;
}



@media screen and (max-width:1250px)
{
    body{
        overflow-x: hidden;
    }
/*    nav a{
        display: flex;
        justify-content: space-around;
        width:20%;
    }
    */
    .nav-links{
        position:absolute;
        top:8vh;
        right: 0px;
        height: 100%;
        background: #080C12;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }
    
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}