/* 
    Created on : May 25, 2022, 2:46:41 PM
    Author     : kotmin
*/

:root {
    --background-color: #fff;
    --text-color: #000; 
    font-size: 62.5%;
    /*Z tym fontsize jest fajna sztuczka bo statystycznie najczesciej mamy fontsize 60 i to nam sie bedzie skalowalo ladnie*/
}

[data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
}

[data-theme="light"] {
    --background-color: #fff;
    --text-color: #000; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: motserrat;
    transition: background 0.2s linear;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}
nav{
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    
    
/*    width: 100%;*/
    background: #080C12;
    color: #eae0c8;
    
    
    align-items: center;
    list-style: none;
    
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
/*    padding: 0 100px;*/
/*    line-height: 80px;*/
}



/*Zabawa z jasno-ciemno*/

.label_toogle {
    display: flex;
    background-color:#000;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    padding:5px;
    
    justify-content: space-between;
    align-items: center;
    position:relative;
    
        
}




.moon {
    display: flex;
  background-color: #000;
/*  color: #f1c40f;*/
   
  height: 23px;
   width: 23px;
  border-radius: 50%;
  border: 4px solid #000;
  /* I set 2 shadows where the first one doesn't have blur and spread for firefox fix. */
  box-shadow: inset 7px -2px #f1c40f, inset 25px 8px 1px 1px #000;
  -moz-box-shadow: inset 0px 16px #000, inset 0px 16px 1px 1px #000;
}



.sun {
    /*display: flex;*/
    background: #f1c40f;
    
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.ball  {
    background-color: white;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox_swype{
    opacity: 0;
    position:absolute;
    
}

.checkbox_swype:checked + .label_toogle .ball {
    transform: translateX(20px);
}

.nav-links{
    display: flex;
    justify-content: space-around;
/*    width: 30%;*/
/*    float: right;*/
    
/*    margin-right: 40px;*/

}

.nav-links li{
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}

.nav-links a{
    color:white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
/*    padding: 7px 10px;*/
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid whitesmoke;
    transition: .5s;
}

/*https://www.w3schools.com/icons/fontawesome5_intro.asp*/

.burger{
    display: none;
    cursor: pointer;

}

.burger div{
    width: 25px;
    height: 3px;
    background-color:azure;
    margin: 5px;
    transition: all 0.3s ease;
}

/*End of navbar*/

/*section{
    transition: transform .5s ease-in; 
}*/



/*Animated homepage*/

.spinning-sphere{
    
    width:300px;
    height:300px;
    border: 7px dotted var(--text-color);
    
/*    width:30rem;
    height:30rem;
    border: 0.5rem dotted var(--text-color);
    */
    border-radius: 50%;
    animation: spin-sphere 15s linear infinite;
    position: relative;
    transform-style: preserve-3d;
    
    
}

.spinning-sphere::before, .spinning-sphere::after{
    width:300px;
    height:300px;
    border: 5px dotted var(--text-color);
    
    
/*    width:30rem;
    height:30rem;
    border: 0.5rem dotted var(--text-color);
    */
    border-radius: 50%;
    content: "";
    left:0;
    top:0;
    position: absolute;
}

.spinning-sphere::before{
    transform: rotateX(-66.6deg);
}

.spinning-sphere::after{
    transform: rotateX(66.6deg);
}

.right-alligner{
    text-align: right;
}

@keyframes spin-sphere{
    0%{
        transform: rotateY(1deg) rotateX(1deg) rotateZ(1deg);
    }
    100%{
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
    
}

/*Start quizAppCode*/

.quizdiv h1,h2,h3,h4,h5,h6{
    margin-bottom: 1rem;
}

.quizdiv h1{
    font-size:5.4rem;
    margin-bottom: 5rem;
}

.quizdiv h1 > span{
    font-size:2.4rem;
    font-weight: 500;
    /*margin-bottom: 5rem;*/
}


.quizdiv h2{
    font-size:4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}


.quizdiv h3{
    font-size:2.8rem;
    /*margin-bottom: 5rem;*/
    font-weight: 500;
}


section{
    
    display: flex;
    /*Tutaj trzeba looknac czy nie potrzebujemy jeszcze rozmiarow dopisac*/
    width: 100vw;
    height: 92vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;


}


/*Util*/
.container{
    display: flex;
    /*Tutaj trzeba looknac czy nie potrzebujemy jeszcze rozmiarow dopisac*/
    width: 100vw;
    height: 92vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding:2rem;
    
    
    form{
        
    }
    
}

.container > *{
 width: 100%;

}


.flex-column {
    display:flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
    /*Chociaz tutaj by sie czlowiek mogl zastanowic czy to jest potrzebne*/
}

/*LOADER*/

/*    border: 1.6rem solid #aaa;
    border-radius: 50%;
    border-top: 1.6rem solid darkslategrey;*/


#loader {
  border: 1.6rem solid #aaa;
  border-radius: 50%;
  border-top: 1.6rem solid darkslategrey;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*Buttons*/

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width:20rem;
    text-align: center;
    border: 0.1rem solid var(--text-color);
    margin-bottom: 1rem;
    /*background-color: var(--background-color);*/ 
    /*tu chyba nie potrzeba zmieniac tla*/
    color: var(--text-color);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--background-color);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width:20rem;
    text-align: center;
    border: 0.1rem solid var(--text-color);
    margin-bottom: 1rem;
    /*background-color: var(--background-color);*/ 
    /*tu chyba nie potrzeba zmieniac tla*/
    color: var(--text-color);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--background-color);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}



/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 #aaa;

}

input::placeholder {
  color: #aaa;
}




/*End of buttons*/



/*Transitions*/

.fade-in{
    animation: fadeIn 2s;
}

.fade-out{
    animation: fadeOut 3s;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}


/*Quiz game*/


.choice-container{
    display:flex;
    margin-bottom:0.5rem;
    width: 100vh;
    font-size: 1.8rem;
    border: 0.1rem solid var(--text-color);
    /*znajac zycie tutaj mozemy jakos to rozjasnic/przyciemnic trzeba poczytac*/
    background-color: var(--background-color);
    
}


.choice-container:hover {
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #808080;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    
}


.choice-prefix{
    padding:1.5rem 2.5rem;
    /*1.5 na dole i 2.5 po bokach*/
    /*tutaj tez bedziemy dodawali obrys kolorystyczny*/
    
    background-color: #080C12;
    /*color: var(--background-color);*/
    color: aliceblue;
    
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}


.correct {
    background-color:#28a745; 
}

.incorrect {
    background-color:#dc3545; 
}

/*HUD*/
#hud{
    display:flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
    font-size: 3rem;
}


/*HighScoreSection*/

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-score:hover{
    transform: scale(1.025);
}




/*Media start*/

@media screen and (max-width:1250px)
{
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position:absolute;
        top:8vh;
        right: 0px;
        height: 100%;
        background: #080C12;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
    .right-alligner{
    text-align: center;
    }
    
    
}


@media screen and (max-width:720px)
{
    .nav-links{
        width: 100%;
    }
    .right-alligner{
    text-align: center;
}
}




.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}



.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}